body {
font-family: sans-serif;
background-image: linear-gradient( rgb(212, 189, 219), white, rgb(211, 165, 165));
}

header {
background-image: linear-gradient( rgb(209, 172, 240), white, rgb(236, 179, 243));
padding: 40px 0px 40px 25px;
}

.link-header {
background-color: #8300fd;
padding: 10px 15px 10px 15px;
font-size: 36px;
text-decoration: none;
border-radius: 20px;
color: rgb(0, 0, 0);
}

nav {
padding: 35px 40px 0px 40px;
}

.link-nav {
color: rgb(250, 246, 8);
font-size: 28px;
margin-right: 35px;
text-decoration: none;
border-bottom: 2px solid rgb(223, 186, 218);
justify-content: space-between;
}

h1 {
text-align: center;
color: #8a54b6;
font-size: 96px;
}

p {
font-size: 24px;
margin-left: 60px;
}

footer {
justify-content: space-between;
display: flex;
margin-top: 20px;
}

.social {
margin-right: 60px;
}

ul {
font-size: 26px;
}
